.StaffHeader_wrapper__IQw-U {
    z-index: 9;
    background-color: rgb(50, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  html {
    font-size: 62.5%;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  #doiTuongFilter {
    padding: 5px;
  }
  .Table_data_quyen_1 {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(255, 255, 255);
    padding: 14px 0px;
  }
  .Table_data_quyen_2 {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgb(225, 227, 229);
    padding: 14px 0;
  }
  
  .unblock {
    background-color: rgb(15, 221, 83);
    color: white;
    padding: 1rem 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  .block {
    background-color: rgb(235, 44, 44);
    color: white;
    padding: 1rem 1.5rem;
    font-weight: 700;
    border-radius: 10px;
    cursor: pointer;
    margin-right: 0.5rem;
  }
  
  .edit {
    background-color: rgb(49, 147, 252);
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
  }

  .unlock{
    background-color: rgb(49, 252, 86);
    color: white;
    padding: 1rem 0.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
  }

  .block {
    background-color: rgb(252, 49, 49);
    color: white;
    padding: 1rem 1.5rem;
    cursor: pointer;
    font-weight: 700;
    border-radius: 10px;
  }

  #createAccountButton{
    margin-left: auto; 
    font-family: Arial, sans-serif; 
    font-size: 1.5rem; 
    font-weight: 700; 
    color: white; 
    background-color: rgb(65, 64, 64); 
    padding: 1rem; 
    border-radius: 0.6rem; 
    cursor: pointer;
  }


  .Admin_leftBar_navigation {
    color: white;
  }
  .StaffHeader_title__QxjW4 {
        fontamily: Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
  }
  .StaffLayout_wrapper__CegPk {
    background-color: rgb(255, 255, 255);
    width: 100dvw;
    height: 100dvh;
    position: relative;
  }
  .Admin_content__Qhl8d {
    margin-top: 8.3rem;
    display: flex;
    flex-direction: row;
  }
  .StaffHeader_signOut__i2pcu {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .Admin_leftBar__AUxqr {
    position: fixed;
    width: 5rem;
    height: 100dvh;
    background-color: rgb(50, 49, 49);
  }
  .Admin_rightBar__RXnS9 {
    padding-top: 0.3rem;
    padding-left: 2rem;
    width: 100%;
  }
  .Admin_title__1Tk48 {
    font-family: Arial, sans-serif;
    font-weight: bolder;
    font-size: 2.5rem;
    margin: 1rem;
  }
  .Admin_boxFeature__ECXnm {
    background: aliceblue;
    height: 5rem;
    border-radius: 0.3rem;
    display: flex;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
  }
  .Admin_input__LtEE- {
    height: 3rem;
    border: 1px solid grey;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2px;
    width: 50em;
  }
  .Admin_boxTable__hLXRJ {
    margin-top: 1rem;
    overflow-y: auto;
    background-color: rgb(236, 233, 233);
    border-radius: 0.3rem;
  }
  .Table_table__BWPy {
    width: 100%;
    border-collapse: collapse;
    background-color: white !important;
  }
  .Table_head__FTUog {
    background-color: rgb(56, 55, 55);
  }
  .Table_th__hCkcg {
    font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
    padding: 1rem;
    text-align: center;
    color: white;
  }

    .pagination{
        height: 50px;
        background: aliceblue; 
        display: flex; 
        align-items: center;
        justify-content: center;
    }
    .pageButton {
        background-color: whitesmoke;
        color: black;
        border: none;
        border-radius: 50%;
        width: 30px; /* Điều chỉnh kích thước nút phân trang tùy theo nhu cầu */
        height: 30px; /* Điều chỉnh kích thước nút phân trang tùy theo nhu cầu */
        margin: 0 5px; /* Khoảng cách giữa các nút phân trang */
        cursor: pointer;
    }

    .pageButton.active {
        background-color: black; /* Màu nút phân trang khi được chọn */
        color: whitesmoke;
    }
    #searchButton {
      font-weight: 700;
      font-family: Arial, sans-serif;
      color: white;
      background-color: black;
      border-radius: 10px; 
      border: none;
      padding: 10px 20px;
      cursor: pointer; 
    }

    #searchButton:hover {
      background-color: #011a35; /* Màu nền khi hover */
      transform: scale(1.05); /* Tăng kích thước nhẹ khi hover */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Bóng đổ */
  }

    #tableBody{
      height: 400px;
      background-color: white !important;
      color: black !important;
    }
    
    .option-style {
      color: rgb(0, 0, 0); /* Màu chữ */
      display: flex; /* Sắp xếp theo hàng */
      align-items: center; /* Căn giữa theo chiều dọc */
  }
  
  .fa-solid fa-check{
    color: rgb(0, 0, 0);
  }

  .col-small {
    width: 50px; /* Độ rộng cho Mã vân tay và Mã nhân viên */
}

.col-large {
    width: 300px; /* Độ rộng lớn nhất cho Tên nhân viên */
}

.col-normal {
    width: 110px; /* Độ rộng bình thường cho các cột còn lại */
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,300;1,400;1,500&family=Roboto&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    color: var(--text-color);
    overflow-y: overlay;
    background: aliceblue;
  }


  html *::-webkit-scrollbar {
    display: none;
    width: 8px;
  }
  
  button,
  input,
  [tabindex] {
    outline: none;
    border: none;
  }
  
  a {
    color: var(--text-color);
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  .StaffLayout_wrapper__CegPk {
    background: aliceblue;
    width: 100dvw;
    height: 100dvh;
    position: relative;
  }
  .StaffHeader_title__QxjW4 {
    font-family: Arial, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: #ffffff;
  }
  .StaffHeader_signOut__i2pcu {
    cursor: pointer;
    border: none;
    background-color: transparent;
  }
  .StaffHeader_wrapper__IQw-U {
    z-index: 9;
    background-color: rgb(50, 49, 49);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
  }
  .Manager_wrapper__vOYy {
    padding-top: 6rem;
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  .Sidebar_sideBar__CC4MK {
    position: fixed;
    height: 100dvh;
    width: 15%;
    background-color: rgba(50, 49, 49, 0.918);
  }
  .MenuItemSidebar_menuItem__56b1m.MenuItemSidebar_active__RPq {
    background-color: #333;
    color: #fff;
  }
  .MenuItemSidebar_menuItem__56b1m {
    display: flex;
    align-items: center;
    padding: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
  }
  .Products_boxFeature__0FLEt {
    background-color: rgb(236, 233, 233);
    height: 5rem;
    border-radius: 0.3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
  }
  svg:not(:root).svg-inline--fa,
  svg:not(:host).svg-inline--fa {
    overflow: visible;
    box-sizing: content-box;
  }
  .Products_input__Skvqe {
    height: 3rem;
    border: 1px solid rgb(156, 155, 155);
    width: 50rem;
    padding: 0.5rem 1rem 0.5rem 2.5rem;
    border-radius: 2px;
  }
  .Products_boxTable__ufdxZ {
    margin-top: 1rem;
    overflow-y: auto;
    background-color: rgb(236, 233, 233);
    height: 48rem;
    border-radius: 0.3rem;
  }
  .Table_table__fUoNr {
    width: 100%;
    border-spacing: 0;
    position: relative;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.5);
  }
  .Table_head__CEe3S {
    position: sticky;
    top: 0;
    background-color: rgb(52, 51, 51);
    color: white;
  }
  .Table_th__RG2t4 {
     font-family: Arial, sans-serif;
    font-size: 14px;
    font-weight: 800;
padding: 1rem;
    text-align: center;
    color: white;
  }
  #cap_nhat{
    background-color: white
  }
  .btn_current{
    color:rgb(255, 255, 255);
    padding:6px 10px;
    font-weight:500;
    background-color: rgb(189, 182, 182);
    
  }


.input-group {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.input-group i {
  margin-right: 10px;
  color: #007bff; /* Màu cho biểu tượng */
  font-size: 1.2rem; /* Kích thước biểu tượng */
}

.input-group label {
  margin-right: 10px; /* Khoảng cách giữa nhãn và trường nhập */
  flex: 1; /* Chiếm hết không gian còn lại */
}

.input-group input,
.input-group select {
  flex: 2; /* Chiếm không gian 2 phần */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 1rem;
}

.input-group input:focus,
.input-group select:focus {
  border-color: #007bff; /* Màu viền khi nhập vào */
  outline: none; /* Loại bỏ viền mặc định */
}



  