* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(135deg, #8fd3f4, #8e44ad);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.manager-dashboard {
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    height: 320px;
}

h1 {
    position: absolute;
    font-size: 32px;
    background: linear-gradient(to right, #181C87, #4A50F5, #4348D2, #3C005F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    left: 0px;
    height: 15%;
    width: 100%;
}

.manager-content {
    position: absolute;
    bottom: 10px;
    left: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
}

.manage-buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

button {
    width: 260px;
    padding: 20px 40px;
    background-color: #5a3d95;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #7b51b9;
}

